<%= simple_form_for @team, :html => {:class => 'form-horizontal' } do |f| %>

    <fieldset>
        <%= f.error_notification %>
        <%= display_base_errors @team %>
    
        <%= f.input :name %>
        <%= f.input :affiliation %>
        <%= f.input :url %>
        <%= f.input :notes, :input_html => { :cols => 30, :rows => 5 }%>
    
    
        <%= f.submit :class=>"btn primary" %>
    </fieldset>

<% end %>