<% content_for :head do %>
    <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        $('#team_table').dataTable({
          "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
          "sPaginationType": "bootstrap"
        });
    });

    </script>
<% end -%>

<% title("Team Listing") %>

<div class="row">
  <div class="span8">
  </div>
  <div class="span2 offset2">
      <% if can? :manage, Team %>
          <p class="pull-right"><%= link_to "New Team", new_team_path, :class=>"btn btn-primary"%></p>
      <% end %>
  </div>
</div>

<table id="team_table" >
<thead>    
  <tr>
    <th>Name</th>
    <th>Affiliation</th>
    <th>Url</th>
    <th>Notes</th>
    <th>Member Count</th>
    <th>Managers</th>


  </tr>
</thead>
<tbody>
<% @teams.each do |team| %>
  <tr>
    <td><%= link_to team.name, team_path(team) %></td>
    <td><%= team.affiliation %></td>
    <td><%= team.url %></td>
    <td><%= team.notes %></td>
    <td><%= team.member_count %></td>
    <td><%= team.manager_list %></td>
  </tr>
<% end %>
</table></tbody>