<% title(@team.name) %>


<% content_for :subnav do -%>
<ul class="nav">
    <% if can? :update, @team %>
    <li><%= link_to  "New Team Member",  new_user_path(:team_id => @team.id ) %></li>
    <% end %>
    
    <% if current_user.has_role?( :admin)%>
     <li>   
         <%= link_to("Delete team", team_path(@team), :data => { :confirm => "Are you sure?" }, :method => :delete) unless @team == @current_team %>
     </li>
    <% end %>
    <% if can? :update, @team %>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Add Manager
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                    <% @team.members.each do |user| %>
                        <li><%= link_to(user.name, team_manager_path(@team.id,user.id),  :method => :put) %></li>
                    <% end %>    
             </ul>
        </li>
          
        <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Remove Manager
                  <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                  <% @team.managers.each do |user| %>
                      <% if user != current_user %>
                      <li><%= link_to(user.name, team_manager_path(@team, user.id), :data => { :confirm => "Are you sure?" }, :method => :delete)  %></li>
                      <% end %>
                  <% end %>    
            </ul>
        </li>
</ul>
<% end -%>
<% end -%>



<div class="row">
    <div class="span4">
        <div class="well">
            <%= hash_table(team_hash(@team)) %>
        
        <% if can? :update, @team %>
             <%= edit_button edit_team_path(@team) %>
         <% end %>
         </div>
    </div>
    <div class="span6">
    
    </div>
    

</div>


<div class="row">
    
    <div class="span10">
        <h4>Managers</h4>
        <!-- Assign new manager -->
        
        
        <%= render "users/users", {:users => @team.managers, :table_id => "managers_table" } %>            

        <h4>Members</h4>
        <%= render "users/users", {:users => @team.members, :table_id => "users_table" } %>
    </div>
    
</div>