<%= content_for :head do %>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() { $("#site_select").select2({ width: 'resolve' }); });
    $(document).ready(function() { $("#event_select").select2({ width: 'resolve' }); });
</script>
<style type="text/css" media="screen">
.wide-label {
    width:8em;
    
}  
</style>
<% end %>

<% title("Bee Collection Activity") %>

<% content_for :subnav do -%>
    <ul class="nav">
        <li><%= iconified_link_to 'icon-map-marker', "#{@sites.count} sites", team_sites_path(@team) %></li>
        <li><%= iconified_link_to 'icon-calendar', "#{@collection_events.count} events", team_collection_events_path(@team) %></li>
        <li><%= iconified_link_to 'icon-heart', "#{@specimens.count} specimens", team_specimens_path(@team) %></li>
        <li><%= iconified_link_to 'icon-qrcode', "Print new labels (#{@specimens.unprinted.count})", print_team_specimens_path(@team), :method=>:put, :confirm => "Make PDF and update print date all unprinted labels?" %>
    </ul>
<% end -%>

<!-- <div class="row">         -->
    <div class="well">
        <h4>Add collection event</h4>
        <%= render "collection_events/dashboard_new", {:collection_event => (CollectionEvent.new || @collection_event)}%>            
    </div>      
            
    <div class="well">
        <p>
            <b>New Specimens: </b> Select Event@Site <%= select_tag "Site", options_from_collection_for_select(@collection_events, 'id', "to_s"), :id=>'event_select' %>
            <input type = "button", value="New Specimen form", onclick = "{goto_new_specimens()}", class ='btn' >
        </p>
    </div>
<!-- </div> -->
<div class="row">
    <div class="span4">
         <%= render "layouts/gmap", {:sites => @sites, :height=>'400', :width=>'100%'} %>
    </div>
    <div class="span8">
        <p class="lead">Collection Events   </p>
         <%= render "collection_events/collection_events", { :collection_events => @collection_events } %>
         <%# show above list instead of calendar %>                
         <%#= render "collection_events/calendar",    { :collection_events => @collection_events } %>
    </div>
</div>

<% content_for :head do -%>
<script type="text/javascript" charset="utf-8">
    function goto_new_event(){
        goto_rails_path('<%= new_team_site_collection_event_path(@team,-1) %>', 'site_select');
    }   
    
    function goto_new_specimens(){
        goto_rails_path('<%= new_team_collection_event_specimens_path(@team,-1) %>', 'event_select');
    }
    function goto_rails_path(path_template, selector_id){
        var resource_selector = document.getElementById(selector_id);
        var resource_id = resource_selector.options[resource_selector.selectedIndex].value;
        if (resource_id != ""){
           window.location =  path_template.replace("/\-1","/"+resource_id);
        }
    }
    
</script>
<% end -%>
