<%# uses helper methods to determine best month to display %>
<% if collection_events.empty? %>
    <%= calendar %>
<% else %>
    <%= calendar collection_events, {:year =>year_to_display(collection_events), :month => month_to_display(collection_events) } do |ce| %> 
        <% cal_display = "#{ce.specimen_count} @ #{ce.site.to_s}" %>    
        <div>
          <%= link_to ce.cal_display, team_collection_event_path(@team.to_param,ce.id) %>
        </div>
    <% end %>

<% end %>