<% unless collection_events.blank? %>

<% content_for :head do %>
    <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        $('#collection_events_table').dataTable({
            "sDom": '<"row"<"span3"i><"span4"f><"span5">r>t<"row"<"span3"l>p>>',
            "iDisplayLength": 25,
            "sPaginationType": "bootstrap"
        });
    });

    </script>
<% end -%>

<table  id="collection_events_table" class="table">
    <thead>
    <tr>
        <% unless @site %>
            <th>Site</th>
        <% end %>
        <th>Date &amp; Time </th>
        <th>Collectors</th>
        <th>Specimen<br/>Count</th>
        
    </tr>
    </thead>
    <tbody>
        <% for ce in collection_events %>            
        <tr>
            <% unless @site %>
                <td><%= link_to ce.site.name, team_site_path(@team.to_param, ce.site.id) %></td>
            <% end %>
            <td>
                <%= iconified_link_to 'icon-calendar', 
                    "#{ce.to_full_date}",
                     team_collection_event_path(@team,ce.id) %>
            </td>                
            <td><%= ce.collectors %></td>
            <td><%= ce.specimen_count %></td>
        </tr>
        <% end -%>
        
    </tbody>
</table>
<% end  -%>

