<% content_for :scripts do -%>
<script type="text/javascript" charset="utf-8">
    $('[data-behaviour~=datepicker]').datepicker({"format": "yyyy-mm-dd", "weekStart": 1, "autoclose": true});
</script>
<% end -%>
<%= simple_form_for [@team,collection_event],  :html => {:class => 'form-inline' } do |f| %>
<%= f.error_notification %>

<fieldset>
<div class='controls controls-row'> 
    <%= f.input_field :site_id, collection: @team.sites, label: "Add Event for site",placeholder: "select site", :id => 'site_select' %>
    &nbsp;

    <%= f.input_field :date_start, :required => true,  
        :placeholder => "start Y-M-D",
        :style =>"width:120px;",
        :as => :string
         %>
     &nbsp;to&nbsp; 
    <%= f.input_field :date_end,  
        :placeholder => "end Y-M-D (optional)",
        :style =>"width:120px;",
        :as => :string 
        %>
     &nbsp;           
    <%= f.input_field :collection_time,  
        as: :string,  
        label:false, 
        placeholder: "optl time hh:mm",:style =>"width:120px;", :maxlength => 8, :size => 10 %> 
      &nbsp;<br>Collectors (optional)&nbsp;              
    <%= f.input :collectors, :collection => collector_hash,  
        :selected =>"",
        :label => false,
        :hint =>"select one or more names from your team list", 
        :input_html=> { :id => 'collector_select',:multiple=>true } %>  
     &nbsp;           
     <%= f.button :submit, :label => "Create" %> 
</div>
</fieldset>

<% end %>

<% content_for :scripts do -%>
<script>
  $(document).ready(function() {
    // $( "#collection_event_date_start" ).datepicker();
  //   $( "#collection_event_date_end"   ).datepicker();
    $( "#site_select" ).select2({ width: 'resolve' });
    $( "#collector_select").select2({ width: 'resolve' });
  });
</script>
    
<% end -%>
