<%= render "layouts/errors", :object => collection_event %>
<%= simple_form_for [@team,@site,collection_event],  :html => {:class => 'form-inline' } do |f| %>


 
  <fieldset>
    <div class="form-inputs">
        <% if @site.blank? %>
             <%= f.input_field :site_id, collection: @team.sites, label: "Site",placeholder: "select collection site", :id => 'site_select' %>
         <% else %>
            <p>Site : <%= @site.name %></p>
            <%= f.input :site_id,  :as => :hidden, :value=>@site.id %>
        <% end %>
        <div class='controls controls-row'>
            <p>Date(s)</p>
            <%= f.input_field :date_start, :required => true,  
                :placeholder => "start Y-M-D",
                :style =>"width:130px;",
                :value => (f.object.date_start.strftime('%Y-%m-%d') unless f.object.date_start.blank?),
                :as => :string
                
                 %>
             &nbsp;to&nbsp; 
             <%= f.input_field :date_end,  
                 :placeholder => "optional end Y-M-D",
                 :style =>"width:130px;",
                 :as => :string,
                 :value => (f.object.date_end.strftime('%Y-%m-%d') unless f.object.date_end.blank? )
                  %>
        </div>
        
        <%= f.input :collection_time, as: :string, hint: "optional time, enter as hh:mm ",style: "width:100px;" %>
        <!-- collection_select(:author, Author.all, :id, :name_with_initial) -->
        
        <%= f.input :collectors, :collection => collector_hash, 
            :selected => (collection_event.collectors.split(",") if collection_event.collectors), 
            :hint =>"select one or more names from your team list", 
            :input_html=> { :id => 'collector_select',:multiple=>true} %>       
        <%#= f.input :collectors %>
        
        </div
    </fieldset>
    
    <div class="form-actions">
      <%= f.button :submit %>
      <% cancel_path = team_site_path(@team.to_param,collection_event.site.id)  %>
      <%= link_to 'Cancel', cancel_path, :class=>'btn btn-warning' %>
    
    </div>

<% end %>
    
    
<% content_for :scripts do -%>
<script>
   $(document).ready(function() {
         $( "#site_select" ).select2({ width: 'resolve' });
         $( "#collector_select").select2({ width: 'resolve' });
   });
</script>
    
<% end -%>
