<% title "Edit Collection Details for #{@collection_event.to_s}" %>

<div class="row">
    <div class="span6">
        <div class="well">
            <%= render "form", {:collection_event => @collection_event } %>  
        </div>
    </div>
    <div class="span6">
        <h4>Other Events on <%= @collection_event.date_start %></h4>
<div class="well">
            <%= render :partial => "collection_events/collection_events", 
                :locals => { :collection_events => @site.collection_events.where(:date_start => @collection_event.date_start) } %> </div>
    </div>
</div>

