<% title("Collection Events for #{@team.name}") %>

<div class="tabbable"> <!-- Only required for left/right tabs -->
  
  <ul class="nav nav-tabs">
    <li >              <a href="#tab1" data-toggle="tab">Calendar   </a>  </li>
    <li class="active"><a href="#tab2" data-toggle="tab">Event List</a></li>
    <li >              <a href="#tab3" data-toggle="tab">New       </a>  </li>
  </ul>
  
  <div class="tab-content">
    <div class="tab-pane" id="tab1">
        <%= render "collection_events/calendar",    { :collection_events => @collection_events } %>
    </div>
    <div class="tab-pane  active" id="tab2">
         <%= render :partial => "collection_events", :locals => { :collection_events => @collection_events } %>
    </div>
    
    <div "tab-pane" id="tab3">
        <div class="well">
            <h4>Add new collection event for</h4>
            <%= render "collection_events/dashboard_new", {:collection_event => (CollectionEvent.new || @collection_event)}%>            
        </div>      
    </div>
  </div>
</div>
    