<% title("Event: #{@collection_event.date.to_s}, @#{@collection_event.site.name}") %> 

<% content_for :subnav do -%>
    <ul class="nav">
        <li class="active">
            <%= link_to "Details", "#" %>
        </li>
        <% if can? :update, @collection_event %>
            <li>
            <%=  iconified_link_to 'icon-pencil', 'Edit Event', edit_team_site_collection_event_path(@team.id, @collection_event.site_id, @collection_event)  %>
            </li>
            <li>
            <%=  delete_link_to team_site_collection_event_path(@team, @collection_event.site_id, @collection_event), {:class=>" text-warning"} %>                              
            </li>
        <% end %>
        
        <li><%= link_to("#{@collection_event.site.name} site record", team_site_path(@team, @collection_event.site)) %></li>
    </ul>
<% end -%>
        
    <div class="tabbable"> <!-- Only required for left/right tabs -->
  
          <ul class="nav nav-tabs">
            <li  class="active"><a href="#tab1" data-toggle="tab">Details</a>     </li>
            <li>                <a href="#tab2" data-toggle="tab">Specimens</a>   </li>
            <li>                <a href="#tab3" data-toggle="tab">Add specimen</a></li>

          </ul>
          
      <div class="tab-content">
          <div class="tab-pane active" id="tab1">
              <div class="row">
                  <div class="span6">
                      <div class="well">
                          <%= hash_table @collection_event.to_hash %>
                      </div>
                      
                      <p>
                      
                      <%#= link_to "Site #{@collection_event.site.name}", team_site_path(@team, @collection_event.site), :class=>"btn" %>
                  </p>
                      
                      
                  </div>
                  
                  <div class="span6">
                      <div class="well">
                      <h4>All Events on <%= @collection_event.date_start %></h4>
              
                          <%= render :partial => "collection_events/collection_events", 
                              :locals => { :collection_events => @site.collection_events.where(:date_start => @collection_event.date_start) } %>                       </div>
                  </div>
              </div>
          </div>
          
            <div class="tab-pane" id="tab2">
                <div class="row">
                    <div class="span12">

                        
                            <% if  @collection_event.specimens.count == 0  %>
                            <p>No Specimens Entered yet</p>
                            <% else %>
              
                            <h4><%= @collection_event.specimens.count %> Collected Specimens</h4>
                            <%= render :partial => "specimens/specimen_table", :locals => { :specimens => @collection_event.specimens } %>
                            <% end %>
                       
                    </div>
                </div>
            </div>
            
            <div class="tab-pane" id="tab3">
                <div class="row">
                    <div class="span12">
                        <% if can? :update, @collection_event %>
                          <h3>Add Collected Specimens</h3>
                          <div class="well">
                              <%= render :partial => "specimens/form_new", 
                                  :locals => { :specimen => @collection_event.specimens.build,
                                               :collection_event => @collection_event,
                                               :site => @collection_event.site } %>
                         </div>
                        <% end %>
                    </div>
                </div>
            </div>
        
            <!-- end tabs -->
        </div> 
</div>

