<h2>Change Your Account Settings</h2>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors resource %>
  <div class="row">
      <div class="span4">
          <%= f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true %>
          <%= f.input :email, :required => true %>
            
        </div>
        <div class=span4>
              <%= f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false %>
              <%= f.input :password_confirmation, :required => false %>
         </div> 
  </div>
  
  <%= f.button :submit, 'Update', :class => 'btn-primary' %> <%= link_to "Cancel Changes", :back, :class => "btn btn-primary" %>
<% end %>



<h3>Remove my account</h3>
<p><%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>
