<%= content_for :scripts do %>

    <script type="text/javascript" charset="utf-8">

        
       var entries_per_page = 20;
      
       $('#species_select').select2({
        width: 'resolve',
        placeholder: "species <%= specimen.species %>",
        dropdownCssClass: "bigdrop",
        ajax: {
          url: "<%= url_for(:controller=>'species', :action=>'search', :format=>:json) %>",
          dataType: 'json',
          quietMillis: 200,
          data: function (term, page) {
            return {
              q: term,
              page: page,
              per_page : entries_per_page
            };
          },
          results: function (data, page) {
            var more = (page * entries_per_page) < data.total
            return { results: data, more:more };
          }
        }

      });
   
       $('#species_select').change(function () {
           $("#determiner_input").val("<%= current_user.name %>");
       });
       
    </script>
<% end -%>

<!-- form for EDITING details of a single specimen -->
<%= simple_form_for( [@team, specimen], :html => {:class => 'form-horizontal' }) do |f| %>
  
<div class="row">

  <%= f.error_notification %>
    <div class="span6">
        <%= render :partial => "specimens/form_core", :locals => { :f => f, :collection_event => collection_event, :specimen=>specimen } %>
    </div>
        
   <div class="span6">
        <div class="form-inputs">
        
            <% if specimen.species_id? %>
                Current species is<em> <%=specimen.species.to_s %> </em>
                <% species_hint = "Selecting something will change the species" if specimen.species_id? %>
            <% end -%>
            
            <% species_label = "Select #{'different' if specimen.species_id? } species" %>
            <%= f.input :species_id, :label => species_label,  :hint => species_hint, :input_html=> { :id =>'species_select'} %>
            <%= f.input :sex %>

        <%= f.input :determination_status,:input_html=> { :id =>'determination_status'}  %>
        <%= f.input :determiner,:input_html=> { :id =>'determiner_input'} %> 
        </div>
    </div>
                  
  <div class="span10">
      <div class="well form-actions">
        <%= f.button :submit %>
        <%= cancel_button %>
      </div>
  </div>
</div>
  
<% end %>

