<% collector_list = @team.users.all.collect {|u| u.collector_name} %>
<% collector_hash = Hash[@team.users.all.map{|u| [u.collector_name, u.collector_name]}] %>
<%= content_for :scripts do %>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() { 
        $("#site_loc_select").select2({ width: 'resolve' }); 
        $("#hostplant_select").select2({ width: 'resolve' });
        $("#collector_select").select2({ width: 'resolve' });
    });
</script>
<% end %>


<div class="form-inputs">
   
  <%= f.input :collectors, :collection => collector_hash, 
      :selected => (specimen.collectors.split(",") if specimen.collectors), 
      :hint =>"select one or more names from your team list", 
      :input_html=> { :id => 'collector_select',:multiple=>true} %>
     
  <%= f.association :hostplant,
      :input_html => { id:'hostplant_select'} 
      %>
  <%= f.input :hostplant_literal, :label=>"other host plant", :hint=>"If not listed, enter as <<common name (Genus species)>>" %>    
  <%= f.input :status, :label=>"Status of specimen", :hint=>"pinned, shipped, etc" %> 
  <%= f.input :location, :as =>:select, 
      :collection =>collection_event.site.loc_array, 
      :label =>"in-site location",
      :hint => "point of collection", 
      :input_html => { id:'site_loc_select'} %>
  <%= f.input :notes, 
      input_html: { cols:'60', rows: '5' }  
      %>
      
</div>
