<%= simple_form_for( [@team,site,collection_event,specimen], :html => {:class => 'form-horizontal' }) do |f| %>

  <%= f.error_notification %>
  <%= render :partial => "specimens/form_core", :locals => { :f => f,:collection_event => collection_event, :specimen => specimen } %>

 <%= f.input  :bulk_insert_count, :label => "How Many to insert?", :hint =>"enter a number of specimens to add for this event", input_html: {value: '1'} %>

  <%= f.input :collection_event_id,  :as =>:hidden, :value => collection_event.id %>

  <div class="span10">
      <div class="well form-actions">
        <%= f.button :submit, :class=>'btn' %>
      </div>
  </div>
<% end %>
