<%= site.locality %><br>
<% if site.county %><%= site.county %>, <% end -%> <%= site.stateprov %>}, <%= site.country %> <br>
<%= site.coordinates(precision=4) %>  <% if site.elevation %>, <%= site.elevation%>m <% end -%> <br>
<%= specimen.collectors %>