<%  if specimens.blank? %>
<div class="row">
    <div  class="alert alert-notice">
        No Specimens entered yet. 
    </div>
</div>
<% else %>
  
    <% content_for :head do %>
        <style type="text/css" media="screen">
        .row_selected {
            border: 1px solid #red;
        }
        </style>

        <script type="text/javascript" charset="utf-8">
            var oTable; // datatables table object
            
            var displayCountSelected = function() {
              var n =  fnGetSelected(oTable).length;
              var countText = n + " specimen" + (n === 1 ? "" : "s") + " selected";
              $( "#countDisplay" ).text( n.toString() );
            };
            
            var fnGetSelected = function( oTableLocal, selector  )
            {
                selector = typeof selector !== 'undefined' ? selector : ".DTTT_selected";
                // var rows;
                return (oTableLocal.$(selector));
            }
            
            var fnGetIds = function(rows){
                var ids = $(rows).map(function(i,v) { return($(v).attr('id'))});
                return(ids);
            }
         
            var fnBaseURL = function() {
                // set serverside
                return ("<%= team_specimens_path(@team) %>");
            }
            
            
            // generate a URL for the selected IDs
            var fnSelectedUrl = function(rows, format) {
                 format = typeof format !== 'undefined' ? format : "html";
                 var ids = fnGetIds(rows);
                 var print_url = fnBaseURL() + "." + format + "?ids=" + $(ids).toArray().toString();
                 return(print_url);            
             }
             
             var fnButtonAction = function(format){
                 var selectedRows = fnGetSelected( oTable );
                 if (selectedRows.length == 0) {
                     alert("Please select one or more rows");
                 } else {
                     var print_url = fnSelectedUrl(selectedRows,format);
                     location.href = print_url;
                 }
             }
            
            $(document).ready(function(){
                oTable = $('#specimens').dataTable({
                    "sDom": '<"row"<"span3"i><"span4"f><"span5"T>r> t<"row"<"span3"l>p>>', 
                    "iDisplayLength": 25,
                    "oTableTools": {"sSwfPath": "/swf/copy_csv_xls_pdf.swf",
                                    "sRowSelect": "multi",
                                    "fnRowSelected": function ( nodes ) {displayCountSelected();},
                                    "fnRowDeselected": function ( nodes ) {displayCountSelected();},
                                    "aButtons": 
                                        ["copy","select_all", "select_none",
                                          {"sExtends": "text",
                                           "sButtonText": "Labels",
                                           "fnClick": function ( nButton, oConfig, oFlash ) { fnButtonAction('pdf');}
                                          },
                                          {"sExtends": "text",
                                           "sButtonText": "CSV",
                                           "fnClick": function ( nButton, oConfig, oFlash ) { fnButtonAction('csv');}
                                          }
                                        ]
                    }
                });
                
                $("#specimens_info").append( '&nbsp;<span class="badge badge-info" id="countDisplay"></span>' );
                                      
            });
        </script>
    <% end -%>

    
    <table id="specimens">
    <thead>
      <tr>
        <th>Id Code</th>
        <th>Collection Site</th>
        <th>Date</th>
        <th>Host Plant</th>
        <th>Treatment</th>
        <th>Collectors</th>
        <th>Status</th>
        <th>Species</th>
        <th>Sex</th>
      </tr>
    </thead>
    <tbody>
    <% for specimen in specimens %>
      <% unless specimen.blank? || specimen.id.blank? %>
      <tr id="<%= specimen.id %>">
        <td> 
            <%= link_to specimen.coded_id, specimen_nested_path(specimen),:class=>'label specimen_id' %>
        </td>
        <td>
            <%= specimen.site.name %><br>
        </td>
        <td>
            <%= specimen.collection_event.date_start %><br/> 
        </td>
        <td>
            <em><%= specimen.hostplant.scientific_name if specimen.hostplant %></em>
        </td>
        <td>
            <%= specimen.location %>
        </td>
        <td>
            <%= specimen.collectors %>
        </td>
        <td>
            <%= specimen.status %> 
        </td>
        <td>
            <i><%= specimen.scientific_name_str %></i>
            <%= edit_button( edit_team_specimen_path(@team.id,  specimen.id), {:class=>" btn-mini "}, button_text='') if specimen.species.blank?  %>
        </td> 
        <td>
            <%= specimen.sex %>
        </td>
            
        <!-- 
         other fields not displayed    
             <td><%#= specimen.determination_status %></td>
             <td><%#= specimen.determiner %></td> 
        -->
      </tr>
     
      <% end -%>
    <% end -%>
    </tbody>
    </table>

   
    
<% end %>
