<% title("Edit Specimen Details #{@specimen.coded_id if @specimen.id?}") %>
<!-- <h3><%= yield :title %></h3> -->

<% content_for :subnav do -%>
<ul class="nav pull-right">
    <li class="pull-right">
        <%= cancel_link_to :back, "Cancel Edits" %>
    </li>
</ul>
<% end %>

<%= render 'form', {:specimen => @specimen, :collection_event => @specimen.collection_event} %>
