<!-- <%#  hash = {
  "Specimen ID Code"      =>'coded_id',
  "Collection on"         =>'collection_event',
  "Collected by"          =>'collectors',
  "Host plant"            =>'host_plant_str',  
  "Species"               =>'scientific_name_str',
  "Sex"                   =>'sex',
  "Status"                =>'status',
  "Location"              =>'location',
  "Determination status"  =>'determination_status',
  "Determiner"            =>'determiner',
  "Notes"                 =>'notes',
   "Collection Site"      =>'site.name',
   "State/Prov"           =>'site.stateprov',
   "Treatment"            =>'site.treatment.to_s'
 }
 %> -->
