<% @headers = SpecimenExporter.data_headers(@specimens) %>
<h1>Specimen Data from ICP Bee Database</h1>

<table>
  <tr>
  <% for header in @headers %>
    <th><%= header %></th>
  <% end %>
  </tr>

  <% for specimen in @specimens %>
    <tr>
    <% @values = SpecimenExporter.new(specimen).export_data.values %>
    <% for value in @values %>
      <td><%= value %></td>
    <% end %>  
    </tr>
  <% end %>
</table>

<br />