<%# this is a crude Excel XML format, treating all values as string instead of proper data types %>
<%# uses values created by the SpecimenExporter class, not simply specimens table  %>

<% @headers = SpecimenExporter.data_headers(@specimens) %>

<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <% for header in @headers %>
          <Cell><Data ss:Type="String"><%= header %></Data></Cell>
        <% end %>      
      </Row>
      <% for specimen in @specimens %>
      <Row>
        <% for value in SpecimenExporter.new(specimen).export_data.values %>
           <Cell><Data ss:Type="String"><%= value %></Data></Cell>
        <% end %>
      </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>
    