<% title("Add specimen(s) for  #{@collection_event.to_s}") %>

<% content_for :subnav do -%>
    <ul class="nav pull-right">
        <p><%= cancel_button %></p>        
    </ul>
<% end -%>
    <h4><em><%= @collection_event.specimens.count == 0  ? "No" : @collection_event.specimens.count %> specimens already entered</em></h4>

        <%= render 'form_new', {:specimen => @specimen, :collection_event => @collection_event, :site => @site } %>
