<% title("Specimen #{@specimen.coded_id}") %>

<% content_for :subnav do -%>
    <ul class="nav">
        <li>
            <%= iconified_link_to 'icon-calendar', 
                    "Collection Event", 
                    team_site_collection_event_path(@team.id, @specimen.collection_event.site.id, @specimen.collection_event.id) %>            
            
        </li>
        <li>
            <% site = @specimen.site -%>
            <%= iconified_link_to 'icon-map-marker',"Site Page", team_site_path(@team.id, site.id) -%>
        </li>
        <% if can? :update, @specimen %>
            <li>
                <%= iconified_link_to 'icon-pencil', "Edit", edit_team_specimen_path(@team.id,  @specimen.id) %>
            </li>    
            <li>
                <%= iconified_link_to 'icon-qrcode', "#{'Re-' if @specimen.label_printed_on }Print Label", print_team_specimens_path(@team, :id=>@specimen.id), {:method=>:put}  %>            
            </li>
            <li>
                <%= delete_button @specimen, {:class=>''} %>
            </li>
        <% end %>
        
    </ul>
<% end -%>
<div class="row">
    <div class="span6">

        
        <div class="well">
            <%= hash_table @specimen.to_hash %>
            <p>
                <%= link_to(team_specimen_path( @team, @specimen, :format=>:pdf), :class=>'btn btn-large' ) do %>
                    <embed src="<%= team_specimen_path( @team, @specimen, :format=>:pdf)  %>"  
                        width="200" height="100"style="overflow:hidden; width: 200px; height: 100px" >
                <% end -%>
            </p>
        </div>
        
    </div>
    
    <div class="span6">
        <p>
            <%= render "layouts/gmap", {:sites => [@site], :height=>'250', :width=>'100%'} %>
            
        </p>
        <p>
            <%= hash_table(@site.to_hash) %>
        </p>
       
        
    </div>
</div>
        


