upstream <%= application %> {
  server unix:/<%= shared_path %>/sockets/<%= application %>.socket fail_timeout=0;
}

server {
  # listen 80 default deferred;
  # server_name 192.168.174.140;
  server_name <%= server_name %>;
  # rewrite ^ https://$server_name$request_uri? permanent;
  root <%= current_path %>/public;

  location ^~ /assets/ {
    gzip_static on;
    expires max;
    add_header Cache-Control public;
  }

  try_files $uri/index.html $uri @<%= application %>;
  location @<%= application %> {
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_redirect off;
    proxy_pass http://<%= application %>;
  }

  error_page 500 502 503 504 /500.html;
  client_max_body_size 4G;
  keepalive_timeout 10;
}


# server {
#   listen 443;
#   server_name <%= server_name %>;
#   root <%= current_path %>/public;
# 
#   ssl                 on;
#   ssl_protocols       SSLv3 TLSv1 TLSv1.1 TLSv1.2;
#   ssl_ciphers         AES128-SHA:AES256-SHA:RC4-SHA:DES-CBC3-SHA:RC4-MD5;
#   ssl_certificate     /etc/ssl/certs/<%= application %>.crt;
#   ssl_certificate_key /etc/ssl/private/<%= application %>.key;
#   ssl_session_cache   shared:SSL:10m;
#   ssl_session_timeout 10m;
# 
# 
#   location ^~ /assets/ {
#     gzip_static on;
#     expires max;
#     add_header Cache-Control public;
#   }
# }
