#! /bin/bash

### BEGIN INIT INFO
# Provides:          <%= application %>
# Required-Start:    $remote_fs $syslog
# Required-Stop:     $remote_fs $syslog
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Manage <%= application %> server
# Description:       Start, stop, restart <%= application %> server for the <%= application %> application.
### END INIT INFO


APP_ROOT="<%= deploy_to %>"
APP_CURRENT="$APP_ROOT/current"
APP_SHARED="$APP_ROOT/shared"
APP_USER="<%= user %>"
DAEMON_OPTS="-C $APP_SHARED/config/puma.rb"
PID_PATH="$APP_CURRENT/tmp/pids"
WEB_SERVER_PID="$PID_PATH/puma.pid"
NAME="<%= application %> "
DESC="<%= application %> service"

check_pid(){
  if [ -f $WEB_SERVER_PID ]; then
    PID=`cat $WEB_SERVER_PID`
    STATUS=`ps aux | grep $PID | grep -v grep | wc -l`
  else
    STATUS=0
    PID=0
  fi
}

execute() {
  sudo -u $APP_USER -H bash -l -c "$1"
}

start() {
  cd $APP_CURRENT
  check_pid
  if [ "$PID" -ne 0 -a "$STATUS" -ne 0 ]; then
    # Program is running, exit with error code 1.
    echo "Error! $DESC $NAME is currently running!"
    exit 1
  else
    if [ `whoami` = root ]; then
      execute "RAILS_ENV=production bundle exec puma $DAEMON_OPTS"
      execute "mkdir -p $PID_PATH"
      echo "$DESC started"
    fi
  fi
}

stop() {
  cd $APP_CURRENT
  check_pid
  if [ "$PID" -ne 0 -a "$STATUS" -ne 0 ]; then
    ## Program is running, stop it.
    kill -QUIT `cat $WEB_SERVER_PID`
    execute "mkdir -p $PID_PATH"
    rm "$WEB_SERVER_PID" >> /dev/null
    echo "$DESC stopped"
  else
    ## Program is not running, exit with error.
    echo "Error! $DESC not started!"
    exit 1
  fi
}

restart() {
  cd $APP_CURRENT
  check_pid
  if [ "$PID" -ne 0 -a "$STATUS" -ne 0 ]; then
    echo "Restarting $DESC..."
    kill -USR2 `cat $WEB_SERVER_PID`
    execute "mkdir -p $PID_PATH"
    if [ `whoami` = root ]; then
      execute "mkdir -p $PID_PATH"
    fi
    echo "$DESC restarted."
  else
    echo "Error, $NAME not running!"
    exit 1
  fi
}

status() {
  cd $APP_CURRENT
  check_pid
  if [ "$PID" -ne 0 -a "$STATUS" -ne 0 ]; then
    echo "$DESC / Puma with PID $PID is running."
  else
    echo "$DESC is not running."
    exit 1
  fi
}

## Check to see if we are running as root first.
## Found at http://www.cyberciti.biz/tips/shell-root-user-check-script.html
if [ "$(id -u)" != "0" ]; then
    echo "This script must be run as root"
    exit 1
fi

case "$1" in
  start)
        start
        ;;
  stop)
        stop
        ;;
  restart)
        restart
        ;;
  reload|force-reload)
        echo -n "Reloading $NAME configuration: "
        kill -HUP `cat $PID`
        echo "done."
        ;;
  status)
        status
        ;;
  *)
        echo "Usage: sudo service <%= application %> {start|stop|restart|reload}" >&2
        exit 1
        ;;
esac

exit 0