
<div class="row">
    <h3>Pollinator Species</h3>
    <div class="span6">
        <div class="well">
            <%= hash_table(@species.to_hash) %>
        </div>
    </div>
    <div class="span6">
        <div class="well">
            <h3>Records with this species</h3>
            <dv class="notice">---</dv>
        </div>
    </div>
</div>
