<!-- Role modal -->

<%= simple_form_for user,  :html => { :class => 'form-horizontal' }  do |f| %> <%# :url => user_path(user) %>
    
    <%= f.error_notification %>

    <%= display_base_errors resource %>
    <div class="row">
        <div class="span4">
              <%= f.input :firstname, :autofocus => true, :hint => "Name is required",  :required => true %>
              <%= f.input :lastname, :autofocus => true, :hint => "Name is required",  :required => true %>
              <%= f.input :email, :required => true %>
           </div>
          <div class="span4">
              <%= f.input :position,  :hint => "Job title or description" %>
              <%= f.input :affiliation,    :hint => "Company, project,institution, ..." %>
              <%= f.input :contact,  :hint => "Full address, phone, etc.",  :input_html => { :cols => 30, :rows => 7 } %>
           </div> 
    </div>
    <hr>
    
    <% if user.new_record? %>
        <%= f.hidden_field :added_by_id, :value => current_user.id                   %>
        <%= f.hidden_field :team_id,     :value => ( user.team_id || @team.team_id ) %>
    <% end -%>
    
    <% if user.new_record? || user.invitable? %> <%# && can? :manage, user %>
        <%= check_box_tag 'send_invite_flag' -%>     
        <%= label_tag  "Create user account and send invitation?" %>
    <% end -%>
    
    <%= f.input :notes, :hint => "Comments, notes about this person",  :input_html => { :cols => 80, :rows => 4, :style=>"width:auto" } %>
    
    
    <%= f.submit :class=>"btn primary" %>
    
<% end %>
