<% style ||= "unstyled" %>
<ul class="<%= style %>">
    <li class="active">
        <%= link_to "Show Profile", user_path(user) %>
    </li>
    <li>
        <%= iconified_link_to 'icon-pencil', "Edit Profile", edit_user_path(user) %>
    </li>
    
    <% if can? :manage, User    %>
        <% if user.invitable? %>
        <li> 
            <%= iconified_link_to 'icon-envelope', "Send Invite", invite_user_path(user), :method => :put %>  <!-- }, html_options =  -->
        </li>
        <% end %>
        <li>
            <a data-toggle="modal" href="#role-options-<%= user.id %>" ><i class="icon-briefcase"></i> Change role</a>
        </li>
        <li>
            <%= iconified_link_to('icon-trash', 'Delete user', user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete) unless user == @current_user %>
        </li>
    <% end %>
</ul>

<% if can? :manage, User %>
    <%= render "users/role_modal", {:user => user} %>
<%- end %>