<%# local variable for setting the table HTML ID attribute, to allow for >1 tables per page %>
<% table_id ||= 'users_table' %>

<% content_for :head do %>
    <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        var utable =  $('#<%= table_id %>')
          utable.dataTable({
              "sDom": '<"row"<"span3"i><"span4"f><"span5">r>t<"row"<"span3"l><"pull-right">p>>>',
              "iDisplayLength": 25,
              "sPaginationType": "bootstrap"  
        });
    });

    </script>
<% end -%>


<table class="table table-bordered users_table" id="<%= table_id %>">
  <thead>
    <tr>
      <th>Name</th>
      <th>email</th>
      <th>Team</th>
      <th>Position, Affiliation</th>
      <th>Created on</th>
      <th>Invitation sent/accepted</th> 
    <th>Registered?</th>
      <th>Sign in count/date</th>
      <th>Role</th>
    </tr>
  </thead>
  <tbody>
  <% users.each do |user| %>
    <tr>
     <td>
         <% if can? :read, user %>
              <%= iconified_button_to "icon-user", user.name, user %>
           <% else -%>
              <%= user.name %>
           <% end -%>
     </td>
     <td>
           <%= user.email %>
     </td>
     <td>
         <% unless user.team.blank? %>
         <% if can? :manage, Team %>
             <%= link_to user.team.name, team_path(user.team.id) %>
         <% else %>
             <%= user.team.name %>
         <% end %>
         <% end %>
    </td>   
    <td>
        <%= user.position %> <br/>  
        <%= user.affiliation %>
    </td>  
     <td>
         <%= user.created_at.to_date %>
     </td>
      <td>
          <%= user.invitation_sent_at.to_date  if user.invitation_sent_at %> <br><%= user.invitation_accepted_at.to_date if user.invitation_accepted_at %>
      </td>     
     <td>
          <%= account_yes_no(user) %>
     </td>
      <td>
          <%= user.last_sign_in_at %><br/>
          <%= user.sign_in_count %>#

      </td>
      <td>
          <%= user.roles.first.name.titleize unless user.roles.first.nil? %>
      </td>

    </tr>
  <% end -%>
  </tbody>
</table>

