<% title("Edit Profile: #{@user.name}") %>

<%= render :partial=>'user', :locals => {:user => @user} %>

<% content_for :subnav do -%>
<ul class="nav pull-right">
    <li><%= iconified_link_to 'icon-remove', "Cancel Edits, return to profile", @user %></li>
</ul>
<% end -%>
