
<% title('New User') %>
<div class="row">
    
    <div class="span6">
        <%= render 'user', {:user => @user} %>
    </div>
    
    <div class="span4 offset2">
        <p>Users created here do not have accounts to log-in unless you invite them to do so.</p>   
    </div>


</div>