<% title("User Profile: #{@user.name}") %>

<% content_for :subnav do -%>
    <%= render "user_buttons", {:user => @user, :style=>'nav' } %>             
<% end -%>

<div class="row">
    <div class="span6">
        
        <div class="well">
            <%= hash_table(user_hash(@user)) %>
        </div>
    </div>
    
    <div class="span6">

    </div>
</div>
