<%#= disable_navbar %>

<div class="hero-unit">
    
  <%= image_tag "icp_badge.png", :align=>"right" %>    
  <h1>ICP Specimen Database</h1>
  <p>Pollinator specimen collection application for the Integrated Crop Pollination project</p>

  <p><hr/></p> 
  <% if !user_signed_in? %>
         <div class="row">
             
             <div class="span4">
                 <p>This application is private and requires authorization to use.  
                      If you are a member of the project please sign in.  
                      If  you are a member of this project and need a user account or help, 
                      please <u>contact the project managers</u>
                 </p>
             </div>
             <div class="span4 offset1">
               <%= render "devise/shared/signin"%>
             </div>
         </div>   

 <% else %>
 
 <div class="row">
     <div class="span4">
         <h3>Welcome <%= current_user.name if current_user %> </h3>    
     </div>
     <div class="span6">
         <div class="btn-group">
           <a class="btn btn-large dropdown-toggle" data-toggle="dropdown" href="#">
            Action
            <span class="caret"></span>
          </a>
           <ul class="dropdown-menu">
             <li><%= link_to "Enter Collection Information", team_collect_path(current_user.team.id) %></li>
             <% if current_user.has_role?(:manager) %>  
                 <li><%= link_to "Manage Your   Team", team_path(current_user.team.id) %></li>
             <% end %>
             <% if current_user.has_role?( :admin) %>
             <li>
                 <%= link_to 'System Administration', users_path %>
             </li>
             <% end %>
             <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
       
           </ul>
         </div> 
     </div>
 </div>
   

 <% end -%>
</div>






