
<% gsrc = "" %>
<% coordinates = "42.585231,-86.085061"%>

<%= content_for :head do %>
    <script type="text/javascript" charset="utf-8">
    
        function initialize() {
          var mapOptions = {
            zoom: 8,
            center: new google.maps.LatLng(<%= coordinates %>),
            mapTypeId: google.maps.MapTypeId.HYBRID
            sensor: false
          };

          var map = new google.maps.Map(document.getElementById('map-canvas'),
              mapOptions);
        }

        function loadScript() {
          var script = document.createElement('script');
          script.type = 'text/javascript';
          script.src = 'http://maps.googleapis.com/maps/api/js?key=#{google_key}&sensor=false' +
              '&callback=initialize';
          document.body.appendChild(script);
        }

        window.onload = loadScript;

    </script>
<% end %>

<div id="map-canvas"></div>

