/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require select2
 *= require dataTables/jquery.dataTables
 *= require dataTables/extras/TableTools
 *= require dataTables/jquery.dataTables.bootstrap
 *= require_self
 *= require_tree .

 */

.map_container img{max-width: none;} 


/* old jquery ui date-picker fix, remove on next commit */
/*.ui-datepicker {
    background-color:white;
    padding:3px;
    border: 1px solid #999;
}
*/