<%= simple_form_for [team, site],  :html => {:class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>
  <fieldset>
    <div class="form-inputs">
      <%= f.input :team_id,  :as => :hidden, :value=>@team.id %>
       
      <%= f.input :name, :label => 'Project Site Name', :hint => 'Descriptive name'%>  
      
      <%= f.association :treatment, :label=> 'Select Project Objective (aka Treatment)', :hint => "Each site must participate in either a project objective, or Other" %> <!-- add other -->
      
      <%= f.input :latitude, :label => "Coordinates (lat,long)", :hint=>'click anywhere on map for new coordinates)' do %>
        <%= f.input_field :latitude, :input_html => {:maxlength =>10,:style=> 'width: 20px'}, :label => false %>,&nbsp;
         <%= f.input_field :longitude,:input_html => {:maxlength =>10,:style=> 'width: 20px'},:label => false  %> &nbsp;
      <% end -%>
      
      <%= f.input :elevation, :label => "Elevation, m", :hint=> 'optional' %> <!-- default to nil  not 0-->

      <%= f.input :locality, :label => "Collection Locality", :hint => "description of locality, abbreviated where possible "%>

      <%= f.input :county,  :label => "County/Other division", :hint=>"Optional county or other section name"     %> <!-- optional -->      

      <%= f.input :stateprov, :label => "state or province",  :as => :grouped_select, :collection => state_prov_hash(),:group_method => :last %>
      <%#  :input_html =>{:maxlength =>4,:style=> 'width: 25px'}  %>

      <%= f.input :country, :collection => Site.countries %>  <!-- default to US but pick based on profing -->

      <%= f.input :active, :as=>:hidden, :value => true %> <!-- -->

      <%= f.input :loc_list, :label => "collection locs", :hint=> "list of in-site collection point locs" %>
      
      <%= f.input :note, input_html: { cols:'60', rows: '5' }  %>
      
      <%= f.input :active, :label => "Site in active use this year?", :hint=>"optional field to de-activate unused sites" %>
    </div>
  
  </fieldset> 
  <div class="form-actions">
    <%= f.button :submit %>
    <%= cancel_button %>
    
  </div>
<% end %>

