<% content_for :head do %>
    <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        $('#site-table').dataTable({
          "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
          "sPaginationType": "bootstrap"
        });
    });

    </script>
<% end -%>

<table id="site-table">
  <thead>
  <tr>
      <th>Site Name</th>
      <th>Treatment/Objective</th>
      <th>Locality</th>
      <th>Collection Events</th>
      <th>Note</th>
      <th></th>
  </tr>
  </thead>
  <tbody>
  <% @sites.each do |site| %>
      <tr>
        <td><%= link_to '<span class="btn btn-small"><i class="icon-map-marker"></i></span>'.html_safe, 
            team_site_path(@team.id,site.id) %> <%= "(inactive)" if !site.active %><%= site.name %></td>
        <td><%= site.treatment %>
        <td><%= site.locality %>, <% site.county %> <%= site.stateprov %> <%= "#{site.elevation }m" if site.elevation? %></td>
        <td><%= site.collection_events.count %></td>
        <td><%= site.note %></td>
        
        <td>
            <% if can? :update, site %><%= link_to 'Edit', edit_team_site_path(@team.id, site.id), :class=>"btn btn-mini" %><% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

