<% title("Edit Collection Site Details : #{@site.name }") %>

<div class="row">
    <div class="span6">    
    <%= render 'form', {:team => @team, :site => @site } %>
    </div>
    <div class="span6">
        <%= render "layouts/gmap", {:sites => [@site]} unless @site.coordinates.blank? %>
    </div>

</div>