<%= title("Sites for #{@team.name}")%>

<% content_for :subnav do -%>
    <ul class="nav">
        <li>
        <%= link_to "New Site", new_team_site_path(@team) %></li>
    </ul>
<% end -%>

<div class="tabbable"> <!-- Only required for left/right tabs -->
  
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Map</a></li>
    <li><a href="#tab2" data-toggle="tab">Site List</a></li>
  </ul>
  
  
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
        <div class="row">
            <div class="span11">
                <div class="well">
                    <%= render "layouts/gmap", {:sites => @sites, :height=>'500', :width=>'100%'} %>
                </div>
            </div>
 
        </div>
        

        <%#= static_map(@sites, {:size=>"800x500", :zoom=>""}) %>
    </div>
    
    <div class="tab-pane" id="tab2">
        <%= render :partial => "site_table", :locals => { :team=>@team, :sites => @sites } %> 
    </div>
  </div>
</div>
