<% title("New Collection Site") %>

<% content_for :subnav do -%>
<ul class="nav pull-right">
    <li class="pull-right">
        <%= iconified_link_to 'icon-remove', "Cancel New Site", @sites %>
    </li>
</ul>
    
<% end -%>

<div class="row">
    <div class="span5">    
    <%= render 'form', {:team => @team, :site => @site } %>
    </div>
    <div class="span7">
        <%= render "layouts/gmap", {:sites => [@site], :height=>500, :width=>500}  %>
    
    </div>

</div>

