<% title("Collection Site : #{@site.name}") %>

<% content_for :subnav do -%>

    <ul class="nav">
        
        <% if can? :update, @site %>
            <li><%= iconified_link_to 'icon-pencil', 'Edit', edit_team_site_path(@team.id, @site.id) %></li>
        <% end -%>
        <% if can?( :manage, @site) %>
            <li><%= delete_link_to team_site_path(@team,@site) %></li>
        <% end -%>
        <li>
            <%= iconified_link_to 'icon-map-marker', 'All Collections Sites', team_sites_path(@team)%>
        </li>
    </ul>
<% end -%>

<div class="container"> <!-- Only required for left/right tabs -->

    <ul class="nav nav-tabs">
    <li class="active"><a href="#sitedetails_tab" data-toggle="tab">Details</a>  </li>
    <li>               <a href="#eventlist_tab" data-toggle="tab">Event List</a></li>
    <li>               <a href="#newevent_tab" data-toggle="tab">New Event </a></li>
    <li>               <a href="#specimen_tab" data-toggle="tab">Specimens</a></li>

    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="sitedetails_tab">         
            <div class="row">
              
               <div class="span5">
                    <h4>Details</h4>
                    <%= hash_table(@site.to_hash) %>
 
               </div>
               <div class="span5 offset1">                
                   <%= render "layouts/gmap", {:sites => [@site]}%>
               </div>
            </div>
            <!-- calendar on front tab page -->
            <div class="row">
                <div class="span11">
                    <div class="well">
                         <%= render "collection_events/calendar",    { :collection_events => @site.collection_events } %>
                     </div>
                </div>
            </div>
            
        </div>
        
        <div class="tab-pane" id="eventlist_tab">
            <div class="row">
                <div class="span11">
                    <h5>
                        <%= @site.collection_events.count  %> Collection Events                     
                    </h5>
                    <div class="well">
                        <%= render :partial => "collection_events/collection_events", 
                            :locals => { :collection_events => @site.collection_events } %>
                    </div>

                </div>
            </div>
        </div>
        
        <div class="tab-pane" id="newevent_tab">
            <div class="row">
                <div class="span11">        
                    <div class="well">
                        <p>New Collection Event for <%= @site.name %></p>
                        <%= render "collection_events/form",  { :collection_event => @site.collection_events.build } %>    
                    </div>
                </div>
           </div>
        </div>
        
        <div class="tab-pane" id="specimen_tab">
            <div class="row">
                <div class="span12">        
                        <p>All Specimens <%= @site.name %></p>
                        <%= render "specimens/specimen_table",  { :specimens => @site.specimens } %>    
                </div>
           </div>
        </div>
        <!-- tab-content -->
    </div>
    
    <!-- tabbable -->
</div>
