<ul class="inline muted">
  <li>ICP Bee Database: BDB</li>
  <li>Copyright (c) 2013 ICP Team</li>
  <li><a href="http://icpbees.org">Integrated Crop Pollination Project</a></li>
  <li><a href="http://www.isaacslab.ent.msu.edu">R Isaacs Lab</a></li>
  <li><%= link_to "home", "http://" + ENV["APP_HOST"] %></li>
</ul>
