<% 
    # set some default values
    site ||= sites[0] 
    height ||= 500
    width  ||= 500
    zoom_set   ||= 12
    map_element_id  ||='map-canvas'
%>
<%= content_for :head do %>

    <style>
      #<%= map_element_id %> img { max-width:none; }
      #<%= map_element_id %> {
        margin: 0;
        padding: 0;
        height: 100%;
      }
      
      .gmnoprint img { max-width: none; }
    </style>
    
    <script src="http://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLEKEY'] -%>&sensor=false" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
        
    function initialize() {
        
        // var latlngbounds = new google.maps.LatLngBounds();
        
        var mapOptions = {
            mapTypeId: google.maps.MapTypeId.TERRAIN,
            mapTypeControl: true,
            mapTypeControlOptions: {
              style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
            },
            zoomControl: true,
            zoomControlOptions: {
              style: google.maps.ZoomControlStyle.DEFAULT
            }
           
        };

        // var originalCoords = '<%= site.coordinates if site %>';
        
        var map = new google.maps.Map(document.getElementById('<%= map_element_id %>'),
          mapOptions);

          <% if sites.blank? || site.blank? || sites[0].coordinates.blank? & %>
              mapWithoutMarkers(map);
              <% else %>
              mapWithMarkers(map);
          <% end %>
                  
    }

    function mapWithMarkers(map3){
        var latlngbounds = new google.maps.LatLngBounds();
        var minZoom = 15;
        
        <% for site in sites %>
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(<%= site.coordinates if site %>),
                map: map3, 
                url: '<%= team_site_path(@team, site.id) if site.id? %>', 
                title: '<%= site.name if site.name? %>'
            });

            latlngbounds.extend(new google.maps.LatLng(<%= site.coordinates if site %>))
            google.maps.event.addListener(marker, 'click', function() {
                window.location.href = this.url;
             });
        
             <% if sites.count == 1 %>
                 addMarkerListener(map3, marker)  
             <% end %>
            
        <% end -%>
        
        google.maps.event.addListener(map3, 'zoom_changed', function() {
            zoomChangeBoundsListener = 
                google.maps.event.addListener(map3, 'bounds_changed', function(event) {
                    if (this.getZoom() > minZoom && this.initialZoom == true) {
                        // Change max/min zoom here
                        this.setZoom(minZoom);
                        this.initialZoom = false;
                    }
                google.maps.event.removeListener(zoomChangeBoundsListener);
            });
        });
        
        map3.initialZoom = true;
        map3.setCenter(latlngbounds.getCenter());
        map3.fitBounds(latlngbounds); 
    }
    
    function mapWithoutMarkers(map4){        
        map4.setCenter(new google.maps.LatLng(<%= default_coordinates %>));
        map4.setZoom(3);        
        addMarkerListener(map4)  
    }

    
    function addMarkerListener(map,marker){
        google.maps.event.addListener(map, 'click', function(event) {
            var latfield = document.getElementById('site_latitude');
            var lngfield = document.getElementById('site_longitude');
        
            latfield.value = event.latLng.lat();
            lngfield.value = event.latLng.lng();
       
            if (marker) { marker.setMap(null); }

            marker = new google.maps.Marker({ position: event.latLng, map: map }
            );
        
        });
    }
    
    

    
    
    google.maps.event.addDomListener(window, 'load', initialize);
    
    

    </script>

<% end -%>
    

<div id="<%= map_element_id %>" style="height:<%= height %>px; width:<%= width %>px;background-color:gray"></div>
