<ul class="nav">
    <li class="">
        <%= link_to "<strong>Bee DB</strong>".html_safe, root_url, :class=>"text-success" %>
    </li>
    <% if user_signed_in?  %>
    
    <% if @team and not(@team.new_record?) %>
    <li class="dropdown">
        <a href="<%= team_collect_path(@team) %>" class="dropdown-toggle" data-toggle="dropdown">
          Collect<b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
             <li>
                 <%= link_to "Dashboard", team_collect_path(@team) %>
            </li>
            <li>
                <%= link_to 'Collections Sites', team_sites_path(@team) %>
            </li>

            <li>
                <%= link_to "All Collection Events", team_collection_events_path(@team) %>
            </li>
            <li>
                <%= link_to "All Specimens", team_specimens_path(@team)%>
            </li>
            <li>
                <%= iconified_link_to 'icon-qrcode', "Print new labels", print_team_specimens_path(@team), :method=>:put, :confirm => "Make PDF and update print date all unprinted labels?" %>
            </li>
            <li>
                <%= link_to 'New Site', new_team_site_path(@team)  %>
            </li>
        </ul>
    </li>
    
    
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Reporting<b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
           <li>
               <%= iconified_link_to 'icon-list-alt', "All Specimens Collected by #{@team}", team_specimens_path(@team) %>
           </li>
           <li>
               <%= iconified_link_to 'icon-qrcode', "All labels for reference", team_specimens_path(@team,:format=>:pdf) %>
           </li>
           
            <li>
                <%= iconified_link_to 'icon-file', 'Specimen CSV Export', team_specimens_path(@team,:format=>:csv) %>
            </li>
        </ul>
    </li>
    <% end -%>
            
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Team<b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
              <li>
                  <%= link_to 'Your Team', team_path(current_user.team.id) %>
              </li>
              <li>
                  <%= link_to 'Other Teams', teams_path %>
              </li>
        </ul>
     </li>      

    <% end %>
     
</ul>

    
<ul class="nav pull-right" role="menu" aria-labelledby="dLabel">
    <% if user_signed_in? && current_user.has_role?( :admin) %>

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
             <i class="icon-wrench"></i>
          Admin<b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><%= link_to 'Users', users_path %></li>
            <li><%= link_to 'New User', new_user_path %></li>
            <li><%= link_to 'Teams', teams_path %></li>
            <li><%= link_to 'New Team', new_team_path %></li>
        </ul>
      </li>
    
    <% end %>
        
  <% if user_signed_in? %>
      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="icon-user"></i>
            <%= current_user.name %><b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
              <li>
                  <%= link_to 'Profile', user_path(current_user) %>
              </li>
              <li>
                  <%= link_to 'Change Password', edit_user_registration_path %>
              </li>
              <li>
                  <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
              </li>
        
          </ul>
        </li>
        
      <% else %>
        
      <li>
       <%= link_to 'Login', new_user_session_path%>
      </li>
    <% end %>
    
</ul>
