<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ICP Bee Database | <%= yield(:title) %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Bdb" %>">
    <%= favicon_link_tag "favicon.ico" %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %> 

    <%= csrf_meta_tags %>

    <%= yield(:head) %>
        
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <div class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container-fluid">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </div>
    <div id="main" role="main">
      <div class="container-fluid">
        <div class="content">
           <div class="row span12">
            <!-- <div class="span12"> -->

                <% if content_for?(:title) %>
                <div class="navbar">
                  <div class="navbar-inner">
                      <a class="brand" href="#"><%= yield(:title) %></a>                      
                      <%= yield(:subnav) %>
                  </div>
                </div>
                <% end %>

              <%= render 'layouts/messages' %>

              <%= yield %>              

            <!-- </div> -->
          </div>
        </div>
      </div> <!--! end of .container -->
     
      <div id="footer">
              
            <div class="span6">
                    <%= link_to  root_path do %>
                        <%= image_tag "icp_bee_icon.png", :size=>"30x30" %>
                    <% end -%>
                    <%= yield(:footer) %>
            </div>
            <div class="span6 pull-right">
                <%= render "layouts/footer" %>
            </div>
    
            
      </div>
    </div> <!--! end of #main -->
    <%= yield :scripts %>
 
  </body>
</html>
